{% load static %}
<div class="topbar">
    <div class="brand">G5</div>
    <div class="links">
        <a href="/" class="{% if request.path == '/' or request.path == '/home/' %}active{% endif %}">Home</a>
        <a href="/project1" class="{% if request.path == '/project1/' %}active{% endif %}">Project 1</a>
        <a href="/project2" class="{% if request.path == '/project2/' %}active{% endif %}">Project 2</a>
        <a href="/project3" class="{% if request.path == '/project3/' %}active{% endif %}">Project 3</a>
    </div>
</div>