{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% load static %}
<div class="home-container">

    <!-- Topbar -->
    {% include 'partials/_topbar.html' %}

    <!-- Home Main Content -->
    <div class="home-content" id="home">
        <div class="home-heading-container">
            <div class="home-heading">
                DATA<br>VISUALIZATION
            </div>
            <div class="sub-heading">
                Develop dashboards for the web app, applying the principles <br>of data storytelling to effectively communicate information about the data.
            </div>
            <div class="buttons-container">
                <a href="/project1" class="action-button">Get Started</a>
                <button class="member-button">Members</button>
            </div>
        </div>
        
    </div>

    </div>

    <div id="members-section" class="members-section">
        <p class="member-subheading">Presenting</p>
        <p class="member-heading">Our Team Members</p>
        
    </div>
</div>
{% endblock %}
