{% extends 'base.html' %}

{% block title %}Project 3{% endblock %}

{% block content %}
{% load static %}
<div class="container">

    <!-- Topbar -->
    {% include 'partials/_topbar.html' %}

    <!-- Main Content -->
    <div class="viz-content">
        <!-- Page Headings -->
        <p class="page-subheading">Dashboard</p>
        <p class="page-heading">Family Income and Expenditure Survey Data (2015) </p>
        <div class="overview"><strong>Context: </strong>The Philippine Statistics Authority (PSA) spearheads the conduct of the Family Income and Expenditure Survey (FIES) nationwide. The survey, which is undertaken every three (3) years, is aimed at providing data on family income and expenditure, including, among others, levels of consumption by item of expenditure, sources of income in cash, and related information affecting income and expenditure levels and patterns in the Philippines. 
        </div>
        <div class="page-content">
            <div class="columns-container">
                <!-- Narration -->
                <div class="narration-column">
                    <div class="narration-display">
                        <hr class="narration-hr">
                        <p>Inside this data set is some selected variables from the latest Family Income and Expenditure Survey (FIES) in the Philippines. It contains more than 40k observations and 60 variables which is primarily comprised of the household income and expenditures of that specific household.</p>
                        <br>
                        <hr class="narration-hr">
                        <p>{{ narration|safe }}</p>
                    </div>
                </div>
                <!-- Form -->
                <div class="form-column">
                    <div class="form-display">
                        <form method="post"> 
                            {% csrf_token %}
                            <!-- For Region -->
                            <div class="custom-select">
                                <span class="material-icons-sharp">expand_more</span>
                                <select id="region" name="region">
                                    <option value="">Select Region</option>
                                    {% for region in regions %}
                                        <option value="{{ region }}">{{ region }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <!-- For Expenditure Data -->
                            <div class="custom-select">
                                <span class="material-icons-sharp">expand_more</span>
                                <select id="expenditure" name="expenditure">
                                    <option value="">Select Expenditure</option>
                                    {% for expenditure in expenditure_columns %}
                                        <option value="{{ expenditure }}">{{ expenditure }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                
                            <button type="submit">Submit</button>
                        </form>
                    </div>
                    <!-- End of Form -->

                    <!-- Chart -->
                    <div class="chart-column">
                        <div class="chart-display">
                            <div class="figure">{{ chart|safe }}</div>
                        </div>
                    </div>
                    <!-- End of Chart -->

                </div>
                <!-- End of Form Column -->
            </div>
            <!-- End of Column Container -->
        </div>
        <hr class="more-hr">
        <!-- End of Page Content -->
    </div>
</div>
{% endblock %}